<link rel="stylesheet" href="/style/owl.css">/**
 * From Default stylesheet
**/
.owl-image {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.owl-video {
  position: relative;
  padding-top: 56.25%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 0;
  overflow: hidden;
}
.owl-video iframe,
.owl-video object,
.owl-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.niconico-thumb {
  position: relative;
  padding-top: 0;
  max-width: 20rem;
  padding-top: 12.2rem;
  height: 0;
  border: solid 0.1rem #ccc;
}
.niconico-thumb iframe,
.niconico-thumb object,
.niconico-thumb embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
